@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";



ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */

* {
    margin: 0; 
    box-sizing: border-box;
} 
// Splash Screen 
body {
    background: rgba(40,48,64,1);
}
.splashContainer {
    margin: 10% auto;
    text-align: center;
    h1 {
        color: white;
        font-size: 2.5em;
    }
    h2 {
        color: rgba(255,255,255,.7);
        font-size: 2em;
    }
    button {
        color: white;
        background: rgba(60,173,180,.8);
        border-radius: 10px;
        border: none;
        margin: auto 10%;
        padding: 1%;
    }
}
// Login Screen 
.loginContainer {
    margin: 10% auto;
    text-align: center;
    h1 {
        color: white;
    }    
    input {
        border: none;
        border-bottom: 1px solid rgba(60,173,180,.8);
        background: transparent;
        color: white;
        display: block;
        margin: 2% auto;
        padding: 1%;
        width: 30%;
    }
    input:focus {
        outline: none;
    }
    button {
        width: 30%;
        color: white;
        background: rgba(60,173,180,.8);
        border-radius: 10px;
        border: none;
        margin: 2% auto;
        padding: 1%;
        display: block;
    }
}

//  Header 
.header {
    background: rgba(60,173,180,1);
    width: 100%;
    height: 5vh;
    padding: 3%;
        .welcomeMsg {
        font-size: 1em;
        position: absolute;
        top: 1%;
        margin: auto;
        color: white;
        }
        .logoutLink {
            position: absolute;
            top: 1%;
            right: 1%;
            margin: auto;
            color: white;
            text-decoration: none;
        }
}

// Left and Right Col views 
.rightCol {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: rgba(230,237,243,1);
    height: 100vh;
}
.leftCol {
    height: 100vh;
    width: 20%;
    display: inline-block;
    color: white;
    background: rgba(40,48,64,1);
}

.profileImg {
    width: 5%;
    border-radius: 50%;
    display: inline-block;
    margin-top: -3.5%;
    margin-right: 1%;
    vertical-align: bottom;
}
.exerciseImg {
    width: 10%;
}
input[type="checkbox"]:hover {
    cursor: pointer;
}


 .weekExercisesContainer {
    .addExercise {
        width: 100%;
        opacity: 0;
    }
    .addWeeksExerciseSpan {
        margin-left: -95%;
    }
    .addExercise:checked ~ .weeksContainer {
        display: block;
    }
    .weeksContainer {
        display: none;
        .weekCheckbox {
            width: 100%;
            opacity: 0;
        }
        .weekTitle {
            margin-left: -95%;
            color: white;
            background: gray;
            border-radius: 5px;
            padding: 3%;
        }
         .weekCheckbox:checked ~ .daysContainer {
            display: block;
         }
        .daysContainer {
            display: none;
                .dayOfWeekCheckbox {
                    width: 100%;
                    opacity: 0;
                }
                .dayOfWeek {
                    margin-left: -90%;
                }
                .dayOfWeekCheckbox:checked ~ .dailyExercises {
                    display: block;
                }
                .dailyExercises {
                    display: none;
                    textarea {
                        height: 5vh;
                    }
                }
        }
      
    }
     .patientToReceiveTreatmentContainer {
        display: none;
     }
     .addExercise:checked ~ .patientToReceiveTreatmentContainer {
        display: block;
     }
 }


.ptsPatientsContainer {
        .showAllPatientsTitle {
            margin-left: -95%;
        }
        .showAllPatientsCheckbox {
            width: 100%;
            opacity: 0;
        }
}
  

.addPatientContainer {
    .addPatientCheckbox {
        width: 100%;
        opacity: 0;
    }
    span {
        margin-left: -95%;
    }
}


// Patient View



.daysOfTheWeeK {
    .daysOfTheWeeKCheckbox {
        width: 100%;
        opacity: 0;
    }
    .showWeekSpan {
        margin-left: -95%;
    }
    .daysOfTheWeeKCheckbox:checked ~ .weekday {
        display: block;
        text-align: center;
    }
    .weekday {
        display: none;
        .weekdaySpan {
            margin-left: 10%;
        }
        .allDailyExercises {
            text-align: left; 
        }
        .allDailyExercises:hover {
            cursor: pointer;
        }
    }
} 


.currentProfileInformation {
    .profileOption {
        display: inline-block;
        width: 45%;
            p {
                display: inline-block;
                margin: 5%;
            }
            .profileOptionInput {
                border-radius: 30px;
                border: none;
                background: white;
                padding: 2%;
                    ::-webkit-input-placeholder {
                        color: rgba(0,0,0,.7);
                    }
            }
            .profileOptionInput:focus {
                outline: none;
            }
    }
    .profileOptionRadio {
        display: inline;
    }
    .submitProfileChanges {
        display: block;
        margin: 5% auto;
    }
}


// Left Column Profile Checkboxes 
      .showCurrentProfileCheckbox {
        width: 100%;
        opacity: 0;
    }
    .profileSpan {
        margin-left: -95%;
    }
  
    .editProfileCheckbox {
        display: none;
    }
    .editProfileSpan {
        display: none;
    }
     .showCurrentProfileCheckbox:checked ~ .editProfileCheckbox {
        display: inline;
        width: 100%;
        opacity: 0;
    }
     .showCurrentProfileCheckbox:checked ~ .editProfileSpan {
        display: inline;
        margin-left: -90%;
    }



